.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  // .header__inner

  &__inner {

    min-height: 88px;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      padding-top: 34px;
    }

    @media (max-width: 768px) {
      padding-top: 0;
    }

    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }

  // .header__logo

  &__logo {
    margin-right: calc(10px + (114 - 10) * (100vw - 1200px) / (1920 - 1200));

    &.active {
      display: none;
    }
  }

  // .header__menu

  &__menu {

    @media (max-width: 1200px) {
      order: 2;
      margin: 15px auto 0;
    }
  }

  // .header__phone
  &__phone {
    margin-left: auto;

    @media (max-width: 769px) {
      margin: 0;
    }
  }

  &__social-mobile {
    &.social {
      display: none;
    }

    &.active {
      @media (max-width: 769px) {
        display: block;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        svg {
          fill: var(--color-white);
        }


      }
    }

  }
}

.phone {
  display: flex;
  align-items: center;

  // .phone__icon
  &__icon {
    width: 22px;
    height: 19px;

    @media (max-width: 769px) {
      display: none;
    }
  }

  // .phone__link

  &__link {
    display: block;
    padding-left: 14px;
    font-size: var(--tel-size);
    line-height: 100%;
    color: var(--color-tel);
  }

  &.active {
    display: block;
    z-index: 5;

    .phone__link {
      color: var(--color-white);
    }

  }

  @media (max-width: 768px) {
    display: none;
  }
}

.burger {
  display: none;
}