.header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;

  // .header__inner

  &__inner {
    padding-top: 34px;
    padding-bottom: 34px;
    align-items: center;
  }

  // .header__logo

  &__logo {
    margin-right: 114px;
  }

  // .header__menu

  &__menu {
    margin-right: auto;
  }
}

.menu {

  // .menu__list

  &__list {
    display: flex;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin-right: 92px;
    }
  }

  // .menu__link

  &__link {
    position: relative;
    padding: 5px;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: var(--color-black);

    &.active {
      border-bottom: 3px solid var(--color-green);
    }

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 3px;
      background-color: var(--color-green);
      transition: width 0.3s ease-out;
    }

    
    &:hover::after,
    &:focus:after {
      width: 100%;
    }
  }
}

.phone {

  // .phone__link

  &__link {
    padding-left: 36px;
    font-size: 24px;
    line-height: 100%;
    color: var(--color-tel);
    background-image: url('../../img/icon/phone.svg');
    background-position: center left;
    background-repeat: no-repeat;
  }
}