.hero {
  position: relative;
  padding-top: 285px;
  padding-bottom: 60px;
  min-height: 100vh;
  background-image: url('../../img/hero/hero-bg.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // .hero__title

  &__title {
    max-width: 740px;
    margin-bottom: 56px;
  }

  // .hero__descr

  &__descr {
    margin-bottom: 63px;
    max-width: 360px;
    font-size: 24px;
    line-height: 158%;
  }

  // .hero__btn-order

  &__btn-order {
    margin-bottom: 195px;
  }
}



.social {
  display: flex;
  align-items: flex-end;

  // .social__link

  &__link {
    display: block;
    width: 25px;
    height: 25px;
    transform-origin: center center;
    background-repeat: no-repeat;
    @include btn_anim(1.2, 0.95);

    &:not(:last-child) {
      margin-right: 25px;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: rgba(0, 0, 0, 0.6);
    }
  }
}

.scroll {
  // .scroll__link

  &__link {
    position: absolute;
    display: block;
    bottom: 57px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 98px;
    background-color: rgba(0, 0, 0, 0.4);

    &::after {
      content: '';
      position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      bottom: 75px;
      width: 1px;
      height: 22.72px;
      background-color: var(--color-black);
      animation-name: line;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes line {
  0% {
    bottom: 75px;
  }

  100% {
    bottom: 0;
  }
}