<header class="header">
  <div class="container-fluid">
    <div class="header__inner flex">
      <a href="/" class="header__logo logo">
        <img src="img/logo.webp" alt="Логотип">
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link active" href="#">О продукте</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Галерея</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Товар</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Акции</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Партнёрам </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Оплата и доставка</a>
          </li>
        </ul>
        <div class="header__social-mobile social">
          <a class="social__link social__link--fb" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--fb"/>
            </svg>
          </a>
          <a class="social__link social__link--insta" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--insta"/>
            </svg>
          </a>
          <a class="social__link social__link--tm" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--tm"/>
            </svg>
          </a>
          <a class="social__link social__link--viber" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#sprite--viber"/>
            </svg>
          </a>
        </div>
      </nav>
      <div class="header__phone phone">
        <svg class="phone__icon">
          <use xlink:href="img/sprite.svg#sprite--phone"/>
        </svg>
        <a href="tel:+380993203649" class="phone__link">+38 (099) 320 36 49</a>
      </div>

      <button class="burger" aria-label="Открыть меню">
        <span></span>
      </button>
    </div>
  </div>
</header>