<section class="hero">
  <div class="container">
    <h1 class="hero__title title">
      Плюшевый авакадо. Идеальный подарок в&nbsp; ваших руках!
    </h1>
    <p class="hero__descr">
      Лучший подарок для девушки, подруги или ребенка!
    </p>
    <a href="#" class="hero__btn-order btn">
      Заказать сейчас
    </a>
  </div>
  <div class="container-fluid">
    <div class="hero__social social">
      <a class="social__link social__link--fb" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#sprite--fb"/>
        </svg>
      </a>
      <a class="social__link social__link--insta" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#sprite--insta"/>
        </svg>
      </a>
      <a class="social__link social__link--tm" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#sprite--tm"/>
        </svg>
      </a>
      <a class="social__link social__link--viber" href="#">
        <svg>
          <use xlink:href="img/sprite.svg#sprite--viber"/>
        </svg>
      </a>
    </div>
    <a class="scroll__link" href="#" class="scroll__link"></a>
  </div>
</section>