<section class="hero">
  <div class="container">
    <h1 class="hero__title title">
      Плюшевый авакадо. Идеальный подарок в&nbsp; ваших руках!
    </h1>
    <p class="hero__descr">
      Лучший подарок для девушки, подруги или ребенка!
    </p>
    <a href="#" class="hero__btn-order btn">
      Заказать сейчас
    </a>
  </div>
  <div class="container-fluid">
    <div class="hero__social social">
      <a class="social__link social__link--fb --svg__fb" href="#"></a>
      <a class="social__link social__link--insta --svg__insta" href="#"></a>
      <a class="social__link social__link--tm --svg__tg" href="#"></a>
      <a class="social__link social__link--viber --svg__viber" href="#"></a>
    </div>
    <a class="scroll__link" href="#" class="scroll__link"></a>
  </div>
</section>